<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.4.93/css/materialdesignicons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />
    <title>UniOnline</title>

    <script>
      var x = navigator.userAgent;
      // alert(" browser details " + x);
      if (x.indexOf("Trident") > -1) {
        window.onload = function() {
          document.getElementById("notsupported").classList.add("show");
        };
      }
    </script>

    <style>
      body {
        background-color: #ecf0f1;
      }
      #notsupported {
        display: none;
        /* display: inline; */
        margin: 30px;
        /* font-size: 32px; */
      }

      #notsupported.show {
        display: block !important;
      }
    </style>
  </head>
  <body>
    <div id="notsupported" align="center">
      <h3>O UniOnline não é suportado neste navegador.</h3>
      <span>Use o Chrome, Edge ou Firefox</span>
    </div>
    <noscript>
      <strong
        >O UniOnline nao consegue ser executado sem JavaScript. Escolha outro
        navegador ou ative-o para continuar.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
