<template>
  <div class="container-fluid no-user-select">
    <div class="card mt-3 shadow-2dp">
      <div class="card-body">
        <h5 class="card-title mb-3">Mensagens</h5>
        <div class="card-text">
          <span v-if="!avisos.length" class="text-muted"
            >Você não possui mensagens</span
          >
          <table class="table table-hover" v-if="avisos.length">
            <tbody>
              <tr
                v-for="(aviso, key) in avisos"
                :key="key"
                @click="showAviso(aviso)"
                class="cursor-pointer"
              >
                <td>
                  <span class="aviso-msg">{{ aviso.mensagem }}</span>
                  <div class="text-right">
                    <div class="badge badge-secondary">
                      {{ aviso.data | shortDate }}
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card mt-3 shadow-2dp mb-3">
      <div class="card-body">
        <h5 class="card-title mb-3">
          Publicações
          <!-- <span class="float-right">
            <select class="form-control mb-3" name="test">
              <option value="123">Todas as mat.</option>
              <option v-for="disciplina in disciplinas">{{disciplina}}</option>
            </select>
          </span> -->
        </h5>

        <div class="card-text">
          <span v-if="!publicacoes.length" class="text-muted"
            >Você não possui publicações</span
          >
          <table class="table table-hover" v-if="publicacoes.length">
            <tbody>
              <tr
                v-for="(publicacao, key) in showPublicacoesPage(
                  publicacao_page_active
                )"
                :key="key"
                @click="downloadPublicacao(publicacao)"
                :title="publicacao.nome_arquivo_raw"
                class="cursor-pointer"
              >
                <td>
                  {{ publicacao.nome_arquivo }}
                  <span class="text-muted font-weight-light ml-1">{{
                    getFileExtension(publicacao.nome_arquivo_raw)
                  }}</span>

                  <span class="d-block">
                    <span class="float-left">
                      <div class="badge badge-light mr-2">
                        {{ publicacao.disciplina }}
                      </div>
                    </span>
                    <span class="float-right">
                      <div class="badge badge-secondary">
                        {{ publicacao.data | shortDate }}
                      </div>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mt-3 mb-0">
            <div class="uo-pagination">
              <div
                class="btn btn-primary mr-1"
                :class="{ disabled: publicacao_page_active == 0 }"
                @click="publicacao_page_active > 0 && publicacao_page_active--"
              >
                <span class="mdi mdi-triangle mdi-rotate-270"></span>
              </div>
              <div class="cur-page-indicator mr-1">
                {{ publicacao_page_active + 1 }}
              </div>
              <div
                class="btn btn-primary"
                :class="{
                  disabled:
                    publicacao_page_active == publicacoes_count_pages - 1
                }"
                @click="
                  publicacao_page_active < publicacoes_count_pages - 1 &&
                    publicacao_page_active++
                "
              >
                <span class="mdi mdi-triangle mdi-rotate-90"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import store from "@/store.js"
// import utf8 from "utf8";
// import Modal from "@/components/Modal.vue";

export default {
  // mounted() {
  // this.$nextTick(function() {

  // })
  // },
  data() {
    return {
      publicacao_page_active: 0
    };
  },
  components: {
    // Modal: Modal
  },
  methods: {
    showPublicacoesPage(page) {
      const page_5 = page * 5;
      return this.publicacoes.filter((item, index) => {
        return index >= page_5 && index < page_5 + 5;
      });
    },
    getFileExtension(nome_arquivo_raw) {
      return nome_arquivo_raw
        .split(".")
        .pop()
        .toLowerCase();
    },
    async downloadAnexoAviso(aviso, attachment) {
      const blob = await this.$store.dispatch("LYCEUM_DOWNLOAD_ANEXO_AVISO", {
        aviso_id: aviso.aviso_id,
        arquivo_id: attachment.arquivo_id
      });

      var link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = attachment.nome_arquivo_raw;
      link.click();
    },
    async downloadPublicacao(publicacao) {
      this.$parent.$parent.$refs.modal.show({
        title: "Baixando...",
        autoClose: 2500
      });

      // let enc_type = "binary";
      // const file_ext = this.getFileExtension(publicacao.nome_arquivo_raw);

      // Determine enc_type to know how to process the blob in the store
      // switch (file_ext) {
      //   case "pdf":
      //     enc_type = "application/pdf";
      //     break;
      //   case "doc":
      //     enc_type = "application/msword";
      //     break;
      //   case "docx":
      //     enc_type =
      //       "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
      //     break;
      //   default:
      //     break;
      // }

      // Dispatch a event to download the post.
      const blob = await this.$store.dispatch("LYCEUM_DOWNLOAD_PUBLICACAO", {
        file_id: publicacao.arquivo_id
        // enc_type: enc_type
      });

      var link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = publicacao.nome_arquivo_raw;
      link.click();

      // this.$parent.$parent.$refs.modal.show({
      //   title: publicacao.nome_arquivo,
      //   text: "O que você deseja fazer com esse arquivo?",
      //   confirmBtnText: "Baixar",
      //   thirdBtnText: "Abrir",
      //   // Save
      //   confirmFn() {
      //     link.download = publicacao.nome_arquivo_raw;
      //     link.click();
      //   },
      //   // Open
      //   thirdFn() {
      //     window.open(link);
      //   }
      // });
    },
    showAviso(aviso) {
      const vm = this;
      this.$parent.$parent.$refs.modal.show({
        title: "Mensagem",
        text: aviso.mensagem,
        attachments: aviso.anexos,
        cancelBtnText: "Fechar",
        cancelFn: function() {},
        attachmentFn: function(attachment) {
          vm.downloadAnexoAviso(aviso, attachment);
        }
      });
    }
  },
  computed: {
    publicacoes_count_pages() {
      return Math.ceil(this.publicacoes.length / 5);
    },
    avisos() {
      return this.$store.state.avisos;
    },
    publicacoes() {
      return this.$store.state.publicacoes;
    },
    disciplinas() {
      const discip_store = this.$store.state.publicacoes;
      console.log("DISCIP", discip_store);

      let map_array = [];
      return discip_store
        .filter(function(item, index) {
          // console.log(item.disciplina)

          // TODO CURRENT: Filter disciplina so that only one of each appear

          // discip_store.map(inner_item => {
          //   if(inner_item.disciplina == item.disciplina) {

          //   }
          // });

          // return !discip_store.map(function(el) {
          // return el.disciplina === item.disciplina;
          // });

          if (map_array.indexOf(item.disciplina) == -1) {
            map_array.push(item.disciplina);
            return true;
          }

          // return discip_store.indexOf(item.disciplina) >= index;
        })
        .map(function(item) {
          return item.disciplina;
        });
    }
  },
  filters: {
    textPreview(text) {
      if (!text) return;
      return text.substring(0, 150) + "...";
    },
    shortDate(timestamp) {
      // Needs enhancement. Shows one day earlier for some reason
      const date = new Date(timestamp);
      const month =
        date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
      return month;
    }
  }
};
</script>
<style lang="scss" scoped>
.aviso-msg {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
</style>

<style lang="scss">
.uo-pagination {
  display: flex;
  float: right;

  span {
    font-size: 12pt;
  }

  .cur-page-indicator {
    padding: 7px 10px;
  }
}

// Placing the select dropdown in the header (right side)
h5 .float-right select {
  margin-top: -10px;
}
</style>
