<template>
  <div class="container-fluid no-user-select">
    <div class="card mt-3 shadow-2dp">
      <div class="card-body">
        <h5 class="card-title mb-3">Boletos</h5>
        <div class="card-text">
          <span v-if="!boletos.length" class="text-muted">Você não possui boletos pendentes</span>
          <table class="table table-hover" v-if="boletos.length">
            <tbody>
              <tr
                v-for="(boleto,key) in boletos"
                :key="key"
                @click="downloadBoleto(boleto)"
                class="cursor-pointer"
              >
                <td>
                  <h5 class="mb-1">{{boleto.vencimento | monthName }}</h5>
                  <div class="vencimento-div">
                    Vencimento:
                    <span
                      class="badge vencimento-badge"
                      :class="{'badge-danger':isAboutToExpire(boleto.vencimento)}"
                    >{{boleto.vencimento | shortDate }}</span>
                  </div>
                </td>
                <td class="boletos-td">
                  <span class="badge ml-auto badge-wrapper">
                    <span class="d-flex boletos-wrapper">
                      <h5 class="font-weight-light text-muted">R$</h5>
                      <h3 class="font-weight-light">{{boleto.valor}}</h3>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    isAboutToExpire(timestamp_boleto) {
      const date = new Date();
      const timestamp_now = date.getTime();

      const days_threshold = 5;

      if (
        timestamp_now >=
        timestamp_boleto - days_threshold * 1000 * 60 * 60 * 24
      ) {
        return true;
      } else {
        return false;
      }
    },
    async downloadBoleto(boleto) {
      this.$parent.$parent.$refs.modal.show({
        title: "Baixando...",
        autoClose: 2000
      });

      const blob = await this.$store.dispatch("LYCEUM_DOWNLOAD_BOLETO", {
        matricula: this.matricula,
        boleto_id: boleto.boleto_id
      });

      var link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      const month = this.$options.filters.monthName(boleto.vencimento);

      link.download = "Boleto " + month + " " + this.matricula + ".pdf";
      link.click();
    }
  },
  computed: {
    boletos() {
      return this.$store.state.boletos;
    },
    matricula() {
      return this.$store.state.aluno.matricula;
    }
  },
  filters: {
    shortDate(timestamp) {
      const date = new Date(timestamp);
      const month =
        date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
      return month;
    },
    monthName(timestamp) {
      const date = new Date(timestamp);
      const month = date.getMonth();
      const monthNames = [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro"
      ];
      return monthNames[month];
    }
  }
};
</script>
<style lang="scss" scoped>
.boletos-td {
  text-align: right;
}

.boletos-wrapper {
  display: inline-flex !important;
  align-items: baseline;

  h5 {
    margin-right: 5px;
  }
}
.vencimento-div {
  display: flex;
  align-items: center;
}

.vencimento-badge {
  margin-left: 5px;
}
</style>

