<template>
  <div class="container-fluid no-user-select">
    <div class="card mt-3 shadow-2dp">
      <div class="card-body">
        <h5 class="card-title mb-3">Dados pessoais</h5>
        <div class="card-text">
          <span v-if="!dadospessoais" class="text-muted">Você não possui dados pessoais</span>

          <div class="container-fluid" v-if="dadospessoais">
            <!-- TODO: Remove all "d-flex" and "col-lg-6" and create a css rule for them -->
            <h5 class="mt-4">Informações pessoais</h5>

            <div class="row">
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">Nome</td>
                    <td class="col-lg-6">{{dadospessoais.nome}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Nome Social</td>
                    <td class="col-lg-6">{{dadospessoais.nome_social}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Pai</td>
                    <td class="col-lg-6">{{dadospessoais.pai}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Naturalidade</td>
                    <td class="col-lg-6">{{dadospessoais.naturalidade}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Sexo</td>
                    <td class="col-lg-6">{{dadospessoais.sexo}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Estado Civil</td>
                    <td class="col-lg-6">{{dadospessoais.estado_civil}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Religião</td>
                    <td class="col-lg-6">{{dadospessoais.religiao}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">Nome Abreviado</td>
                    <td class="col-lg-6">{{dadospessoais.nome_abreviado}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Data de Nascimento</td>
                    <td class="col-lg-6">{{dadospessoais.data_nascimento}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Mãe</td>
                    <td class="col-lg-6">{{dadospessoais.mae}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Nacionalidade</td>
                    <td class="col-lg-6">{{dadospessoais.nacionalidade}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Cor</td>
                    <td class="col-lg-6">{{dadospessoais.cor_pele}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Necessidade Especial</td>
                    <td class="col-lg-6">{{dadospessoais.necessidade_especial}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5 class="mt-4">Endereço residencial</h5>
            <div class="row">
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">CEP</td>
                    <td class="col-lg-6">{{dadospessoais.cep}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Número</td>
                    <td class="col-lg-6">{{dadospessoais.numero}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Bairro</td>
                    <td class="col-lg-6">{{dadospessoais.bairro}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">UF</td>
                    <td class="col-lg-6">{{dadospessoais.uf}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Telefone Residencial</td>
                    <td class="col-lg-6">{{dadospessoais.tel_residencial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">E-mail</td>
                    <td class="col-lg-6">{{dadospessoais.email}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">Endereço</td>
                    <td class="col-lg-6">{{dadospessoais.endereco}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Complemento</td>
                    <td class="col-lg-6">{{dadospessoais.complemento}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Cidade</td>
                    <td class="col-lg-6">{{dadospessoais.cidade}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">País</td>
                    <td class="col-lg-6">{{dadospessoais.pais}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Telefone Celular</td>
                    <td class="col-lg-6">{{dadospessoais.tel_celular}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Autoriza Envio de Informações por E-mail ou SMS?</td>
                    <td class="col-lg-6">{{dadospessoais.envio_email_sms ? "✅" : "❌"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5 class="mt-4">Endereço comercial</h5>
            <div class="row">
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">CEP</td>
                    <td class="col-lg-6">{{dadospessoais.cep_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Cargo</td>
                    <td class="col-lg-6">{{dadospessoais.cargo}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">E-Mail</td>
                    <td class="col-lg-6">{{dadospessoais.email_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Número</td>
                    <td class="col-lg-6">{{dadospessoais.numero_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Bairro</td>
                    <td class="col-lg-6">{{dadospessoais.bairro_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Estado</td>
                    <td class="col-lg-6">{{dadospessoais.estado_comercial}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">Empresa</td>
                    <td class="col-lg-6">{{dadospessoais.empresa}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Profissão</td>
                    <td class="col-lg-6">{{dadospessoais.profissao}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Endereço</td>
                    <td class="col-lg-6">{{dadospessoais.endereco_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Complemento</td>
                    <td class="col-lg-6">{{dadospessoais.complemento_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Cidade</td>
                    <td class="col-lg-6">{{dadospessoais.cidade_comercial}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">País</td>
                    <td class="col-lg-6">{{dadospessoais.pais_comercial}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5 class="mt-4">Documentos pessoais</h5>
            <div class="row">
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">RG</td>
                    <td class="col-lg-6">{{dadospessoais.rg}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Data de Expedição do RG</td>
                    <td class="col-lg-6">{{dadospessoais.data_expedicao_rg}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Título de Eleitor</td>
                    <td class="col-lg-6">{{dadospessoais.titulo_eleitor}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Seção (Tít. Eleit.)</td>
                    <td class="col-lg-6">{{dadospessoais.secao_eleitor}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Categoria (Cert. Reservista)</td>
                    <td class="col-lg-6">{{dadospessoais.categoria_cert_reservista}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">CSM (Cert. Reservista)</td>
                    <td class="col-lg-6">{{dadospessoais.csm_cert_reservista}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Folha (Cert. Nascim.)</td>
                    <td class="col-lg-6">{{dadospessoais.folha_cert_nascimento}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Data de Exped. (Cert. Reserv.)</td>
                    <td class="col-lg-6">{{dadospessoais.data_expedicao_cert_reservista}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Cartório Expeditor (Cert. Nascim.)</td>
                    <td class="col-lg-6">{{dadospessoais.cartorio_expeditor_cert_nascimento}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table mb-0 col-md-6" v-if="dadospessoais">
                <tbody>
                  <tr class="d-flex">
                    <td class="col-lg-6">Órgão Expedidor do RG</td>
                    <td class="col-lg-6">{{dadospessoais.orgao_expeditor_rg}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">CPF</td>
                    <td class="col-lg-6">{{dadospessoais.cpf}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Zona (Tít. Eleit.)</td>
                    <td class="col-lg-6">{{dadospessoais.zona_titulo_eleitor}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Número (Cert. Reserv.)</td>
                    <td class="col-lg-6">{{dadospessoais.numero_cert_reservista}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Série (Cert. Reserv.)</td>
                    <td class="col-lg-6">{{dadospessoais.serie_cert_reservista}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">RM (Cert. Reserv.)</td>
                    <td class="col-lg-6">{{dadospessoais.rm_cert_reservista}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Livro (Cert. Nascim.)</td>
                    <td class="col-lg-6">{{dadospessoais.livro_cert_nascimento}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">Número (Cert. Nascim.)</td>
                    <td class="col-lg-6">{{dadospessoais.numero_cert_nascimento}}</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-lg-6">UF Cartório (Cert. Nascim.)</td>
                    <td class="col-lg-6">{{dadospessoais.uf_cartorio_cert_nascimento}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {},
  computed: {
    dadospessoais() {
      return this.$store.state.dadospessoais;
    }
  },
  filters: {
    // textPreview(text) {
    //   if (!text) return;
    //   return text.substring(0, 150) + "...";
    // }
  }
};
</script>
<style lang="scss" scoped>
</style>

