<template>
  <div v-touch:swipe="swipeHandler">
    <div class="ants" />
    <div
      class="darkpane"
      :class="{ open: menu_open }"
      @click="menu_open = !menu_open"
    />

    <!-- Top Navbar -->
    <nav class="navbar navbar-dark bg-primary shadow-4dp no-user-select">
      <ul class="navbar-nav">
        <li class="nav-item menu-icon-wrapper" @click="menu_open = !menu_open">
          <a class="box-shadow-menu d-lg-none" />
        </li>
      </ul>
      <a class="navbar-brand text-white ml-2"
        >UniOnline Alpha
        <!-- only when swipe left can trigger the callback -->
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link mr-2 cursor-pointer" @click="logout()">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Sidebar -->
    <div
      class="bg-white no-user-select"
      id="sidebar-wrapper"
      :class="{ 'sidebar-open': menu_open }"
    >
      <div class="sidebar-heading text-light">
        <img src="https://via.placeholder.com/65" />
        <div class="d-flex">
          <div class="profile">
            <h6>{{ aluno.nome }}</h6>
            <div>{{ aluno.curso }}</div>
          </div>
          <!-- <div class="profile-options ml-auto"> -->
          <!-- <a class="mdi mdi-dots-vertical mdi-24px text-white"></a> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="list-group">
        <router-link
          v-for="route in routes"
          :key="route.path"
          :to="route.path"
          v-on:click.native="menu_open = false"
          class="list-group-item list-group-item-action border-0"
        >
          <span class="mdi mr-2 text-primary" :class="route.meta.icon" />
          {{ route.meta.title }}
          <span class="float-right" v-if="route.meta.badge > 0">
            <span class="badge badge-pill badge-primary align-text-bottom">{{
              route.meta.badge
            }}</span>
          </span>
        </router-link>
      </div>
    </div>

    <!-- Main Content -->
    <slide-y-up-transition>
      <router-view id="maincontent" />
    </slide-y-up-transition>

    <slide-y-down-transition>
      <div class="md-snackbar" v-show="show_snackbar">Test</div>
    </slide-y-down-transition>

    <Modal ref="modal"></Modal>
  </div>
</template>

<script>
import { SlideYUpTransition, SlideYDownTransition } from "vue2-transitions";
import Modal from "@/components/Modal.vue";
import ChangelogComponent from "@/components/Changelog.vue";
import changelog from "../../changelog.json";

export default {
  data: function() {
    return {
      menu_open: false,
      show_content: false,
      show_snackbar: false,
      dashboard_routes: [],
      keepalive_timer: null
    };
  },
  components: {
    SlideYUpTransition,
    SlideYDownTransition,
    Modal
  },
  watch: {
    menu_open: function(val) {
      document.getElementsByTagName("body")[0].style.overflowY = val
        ? "hidden"
        : "auto";
    }
  },
  mounted() {
    this.show_content = true;
    this.dashboard_routes = this.$router.options.routes.filter(route => {
      return route.name == "dashboard";
    })[0].children;

    // this.keepalivePing(); // Start a interval keeping the connection alive

    const frontend_ver = process.env.VUE_APP_VERSION;
    if (frontend_ver != this.$cookie.get("uo-version")) {
      this.$cookie.set("uo-version", frontend_ver);
      this.$refs.modal.show({
        title: "Mudanças nesta versão",
        component: ChangelogComponent,
        data: {
          version: frontend_ver,
          changes: changelog[frontend_ver]
        },
        cancelBtnText: "Fechar"
      });
    }
  },
  beforeDestroy() {
    clearInterval(this.keepalive_timer);
  },
  computed: {
    aluno() {
      return this.$store.state.aluno;
    },
    routes() {
      return this.dashboard_routes.filter(route => {
        return !!route.name;
      });
    },
  },
  methods: {
    keepalivePing() {
      this.keepalive_timer = setInterval(() => {
        this.$store.dispatch("LYCEUM_KEEPALIVE");
      }, 240 * 1000);
    },
    swipeHandler(direction) {
      // console.log(direction); // May be left / right / top / bottom
      if (direction == "right" && this.menu_open == false) {
        this.menu_open = true;
      } else if (direction == "left" && this.menu_open == true) {
        this.menu_open = false;
      }
    },
    logout() {
      this.$store.dispatch("LYCEUM_LOGOUT");
    }
  }
};
</script>

<style lang="scss">
// The dashboard scss itself
body {
  background-color: #ecf0f1;
}
// Top navbar
.navbar {
  min-height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

.md-snackbar {
  position: fixed;
  bottom: 0;
  // width: 350px;
  // right: 0;
  padding: 20px;
  border-radius: 0.3rem;
  color: #fff;
  margin: 15px;
  background-color: #222;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}
</style>

<style lang="scss" scoped>
@import "../../src/assets/scss/variables.scss";

// The sidebar scss
* {
  font-family: "Roboto", sans-serif;
}

.router-link-exact-active {
  background-color: #ddd;
  color: $accent-color;
}

#maincontent {
  position: absolute;
  top: 4rem; // Overcome the navbar height
  right: 0;
  left: 0; // Needs testing
  min-height: calc(100% - 4rem);
}

$sidebar-width: 260px;
// The div which helds all sidebar items together
#sidebar-wrapper {
  position: fixed;
  width: $sidebar-width;
  top: 4rem; // Dependant on navbar height. Should be variable!
  bottom: 0;
  transition: left 0.2s ease-in-out, width 0.1s;
  overflow-y: auto;

  // The top div of the sidebar that shows the username and the background image
  .sidebar-heading {
    position: relative;
    width: 100%;
    height: 160px;
    background-image: url("../../public/img/sidebar-default-bg.jpg");
    background-size: cover;
    font-weight: 400;
    padding: 1.1rem; // Was 1.5

    // The round user image
    img {
      background-color: white;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      visibility: hidden; // We don't use display:none, because we don't want to collapse the height
    }

    .profile {
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      width: 210px; // With the three dots = 180px

      // The sidebar username/title
      h6 {
        margin-top: 1.5rem;
        // line-height: 0.3;
        margin-bottom: 0;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 180px;
      }

      div {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .profile-options {
      margin-top: 24px;
    }
  }

  // The routes div, where all links/routes are in the sidebar
  .list-group {
    margin: 0.75rem 0.75rem;
  }

  // A individual div of a link/route
  .list-group-item {
    font-weight: 500;
    padding: 0.875rem 1.25rem;
    transition: background-color 0.2s;
    border-radius: 0.35rem;
  }

  // Vue applies this when the menu button is clicked
  // It makes the sidebar appear from the left (left: -XXXpx > left:0px)
  &.sidebar-open {
    left: 0px;
  }
}

@media (max-width: 235px) {
  .ants {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 30;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    &:after {
      content: "Is this a UniOnline for ants?";
    }
  }
}

// Mobile view
@media (max-width: 991px) {
  .md-snackbar {
    // width: 100%;
    right: 0;
    left: 0;
  }

  #sidebar-wrapper {
    z-index: 10;
    top: 0;
    left: -$sidebar-width;
  }
  #sidebar-wrapper.sidebar-open {
    // width: 100%;
  }

  // The darker transparent div that stretches over the whole page, under the sidebar when opened
  .darkpane {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
    transition: background-color 0.2s;

    &.open {
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

// Tablet or Desktop view
@media (min-width: 992px) {
  .md-snackbar {
    right: 0;
    width: 300px;
  }

  #sidebar-wrapper {
    left: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .navbar {
    z-index: 10;
    flex-wrap: nowrap;
  }

  #maincontent {
    left: $sidebar-width;
    width: initial;
  }
}

$menu-icon-color: white;

// The menu icon in the navbar
.box-shadow-menu {
  position: relative;
  padding-left: 1em;
  padding-right: 20px;
  padding-bottom: 3px;

  &:before {
    content: "";
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    width: 1.2em;
    height: 0.15em;
    background: $menu-icon-color;
    box-shadow: 0 0.3em 0 0 $menu-icon-color, 0 0.6em 0 0 $menu-icon-color;
  }
}

.menu-icon-wrapper {
  padding: 10px 0px 10px 0px;
}
</style>

<style lang="scss">
.cursor-pointer {
  cursor: pointer;
}

.no-user-select {
  user-select: none;
}
</style>
