<template>
  <div class="container-fluid no-user-select">
    <div class="card mt-3 shadow-2dp">
      <div class="card-body">
        <h5 class="card-title mb-3">Faltas</h5>

        <div class="card-text">
          <span v-if="!faltas.length" class="text-muted">Você não possui um registro de faltas</span>
          <table class="table" v-if="faltas.length">
            <tbody>
              <tr v-for="(falta,key) in faltas" :key="key">
                <td class>
                  {{falta.disciplina}}
                  <br>
                  <span class="badge badge-secondary">{{falta.professor | firstName}}</span>
                </td>
                <td class="faltas-td">
                  <span
                    class="badge ml-auto badge-wrapper"
                    :class="{'badge-danger':isDanger(falta)}"
                  >
                    <span class="d-flex faltas-wrapper">
                      <h3 class="font-weight-light">{{falta.faltas_acumuladas}}</h3>
                      <h5 class="font-weight-light">/{{falta.faltas_permitidas}}</h5>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {};
  },
  methods: {
    isDanger(falta_obj) {
      const faltas_acumuladas = falta_obj.faltas_acumuladas;
      const faltas_permitidas = falta_obj.faltas_permitidas;
      return (faltas_acumuladas / faltas_permitidas) * 100 >= 80;
    }
  },
  computed: {
    faltas() {
      return this.$store.state.faltas;
    }
  },
  filters: {
    firstName(val) {
      if (!val) return;
      return val.split(" ")[0];
    }
  }
};
</script>

<style lang="scss">
.badge-wrapper {
  min-width: 80px;
  max-height: 40px;
}

.faltas-wrapper {
  display: inline-flex !important;
  align-items: baseline;
}

.faltas-td {
  text-align: right;
}
</style>
