<template>
  <div class="container-fluid no-user-select">
    <div class="card mt-3 shadow-2dp">
      <div class="card-body">
        <h5 class="card-title mb-3">Horários</h5>

        <div class="card-text">
          <span v-if="!horarios.length" class="text-muted">Você não possui horários</span>

          <div v-if="horarios.length">
            <!-- Desktop view -->
            <table class="table table-responsive" v-if="!isMobileSchedule">
              <thead>
                <tr class>
                  <td style="width: 5%"></td>
                  <td
                    style="width: 10%"
                    v-for="(day,index) in getDays"
                    :key="index"
                    :class="{'table-active':day == todaysWeekNumber}"
                    class="font-weight-bold"
                  >{{numberToWeekName(day)}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(hour,index) in getHours()" :key="index" style="height:100px">
                  <td>{{hour}}</td>
                  <td
                    :class="{'table-active':day == todaysWeekNumber}"
                    v-for="(day,index) in getDays"
                    :key="index"
                  >
                    <div class="timetable-div">
                      {{ getSchedule(day, hour).disciplina }}
                      <div class="text-right">
                        <div
                          class="badge badge-secondary align-bottom"
                        >{{ getSchedule(day, hour).professor | firstName }}</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Mobile View -->
            <div v-if="isMobileSchedule">
              <div v-for="(day,index) in getDays" class="pb-4" :key="index">
                <h3 class="card-title mb-3">
                  <span
                    class="badge"
                    :class="{ 'badge-primary':day == todaysWeekNumber }"
                  >{{numberToWeekName(day)}}</span>
                </h3>
                <table class="table">
                  <tbody>
                    <tr v-for="(hour,index) in getHours(day)" :key="index" class="d-flex">
                      <td class="col-3">{{hour}}</td>
                      <td :key="index" class="col-9">
                        {{ getSchedule(day, hour).disciplina }}
                        <div class="text-right">
                          <span
                            class="badge badge-secondary"
                          >{{ getSchedule(day, hour).professor | firstName }}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      windowWidth: 0
    };
  },
  methods: {
    /**
     * Gets a schedule (aula) on a particular day and hour
     *
     * Example:
     *
     * ```
     * console.log( getSchedule(2, "19:00-19:50") );
     * // {
     * // "disciplina": "MARCAS E IDENTIDADE VISUAL",
     * // "local": "CAMPUS UniEVANGÉLICA - ANÁPOLIS I",
     * // "sala": "J213-BLOCO J - 2º PISO - SALA 213",
     * // "carga": "Semanal",
     * // "professor": "Allyson Barbosa da Silva"
     * // }
     * ```
     *
     *  */
    getSchedule(day, hour) {
      const filteredSchedule = this.horarios.filter((value, index, self) => {
        if (value.dia_semana == day && value.hora == hour) {
          return true;
        }
      });

      return filteredSchedule[0] ? filteredSchedule[0] : {};
    },
    /**
     * Gets schedule hours of a particular day
     *
     * Example:
     *
     * ```
     * console.log( getHours(2) );
     * // ["19:00-19:50","19:50-20:40","21:00-21:50",...]
     * ```
     *
     * @param {Number} day
     * @returns {Array<String>}
     */
    getHours(day = -1) {
      const filteredDays = this.horarios.filter((value, index, self) => {
        if (day == -1) {
          // If no day is specified
          return (
            index ===
            self.findIndex(t => {
              return t.hora === value.hora;
            })
          );
        } else {
          // If a day is specified
          return (
            index ===
            self.findIndex(t => {
              return t.hora === value.hora && t.dia_semana == day;
            })
          );
        }
      });

      return filteredDays.map(item => {
        return item.hora;
      });
    },
    numberToWeekName(week_day) {
      const names = [
        "Segunda",
        "Terça",
        "Quarta",
        "Quinta",
        "Sexta",
        "Sábado",
        "Domingo"
      ];
      return names[week_day - 2];
    }
  },
  computed: {
    /**
     * Get all days of the schedule
     *
     * Example:
     *
     * ```
     * console.log( getDays() );
     * // [2,3,4,5,6,7]
     * ```
     *
     * @returns {Array<Number>}
     */
    getDays() {
      return [2, 3, 4, 5, 6, 7];
    },
    /**
     * Gets the whole schedule from the Vuex store
     */
    horarios() {
      return this.$store.state.horarios;
    },
    todaysWeekNumber() {
      const d = new Date();
      return d.getDay() + 1;
    },
    isMobileSchedule() {
      // Below 1200, the desktop table begins to scroll verically, degrading the user experience
      // So switch to mobile view under this value
      return this.windowWidth < 1200;
    }
  },
  mounted() {
    this.windowWidth = window.innerWidth;
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  filters: {
    firstName(val) {
      if (!val) return;
      return val.split(" ")[0];
    }
  }
};
</script>

<style lang="scss" scoped>
.timetable-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;

  .text-right {
    margin-top: auto !important;
  }
}
</style>

