<template>
  <div class="fullscreen-wrapper d-flex no-user-select">
    <div class="login-big-image" />
    <div class="login-mask">
      <div class="login-wrapper">
        <slide-y-up-transition mode="out-in">
          <template>
            <!-- Login card -->
            <div
              class="card text-center login-container login-card"
              v-if="show_login"
              key="1"
            >
              <div class="card-body">
                <h1 class="h1 mb-5 font-weight-light">UniOnline</h1>
                <input
                  type="login"
                  class="form-control"
                  placeholder="Matrícula ou CPF"
                  v-model="username"
                  required
                  autofocus
                />
                <input
                  type="password"
                  class="form-control mt-3 mb-3"
                  placeholder="Senha"
                  v-model="password"
                  required
                  @keypress.enter="authenticate"
                />
                <div
                  class="alert alert-warning"
                  v-if="lyceum_maintenance_hours"
                >
                  Neste horário o Lyceum normalmente faz "manutenção" e bem
                  provávelmente está fora do ar.
                </div>
                <div class="alert alert-danger" v-if="error_message">
                  {{ this.error_message }}
                </div>
                <button
                  class="btn btn-lg btn-primary btn-block mt-4"
                  @click="authenticate"
                >
                  Login
                </button>

                <div class="text-left mt-4">
                  Somos completamente
                  <span
                    class="dashed-helptext"
                    title="Código aberto - Todos podem ver o código e contribuir livremente"
                    >open-source</span
                  >. Veja no
                  <a
                    href="https://gitlab.com/Fusseldieb/unionline"
                    target="_blank"
                    >GitLab</a
                  >

                  .
                  <div class="mt-2">
                    Ao utilizar este site, você concorda com os
                    <a
                      href="https://gitlab.com/Fusseldieb/unionline/blob/master/LICENCE"
                      >Termos</a
                    >.
                  </div>
                </div>
              </div>
            </div>

            <!-- Loading card -->
            <div
              class="card text-center login-container"
              v-if="loading"
              key="2"
            >
              <div class="showbox">
                <div class="loader">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle
                      class="path"
                      cx="50"
                      cy="50"
                      r="20"
                      fill="none"
                      stroke-width="3"
                      stroke-miterlimit="10"
                    ></circle>
                  </svg>
                </div>
              </div>
              <h5 class="font-weight-normal mb-4">{{ message }}</h5>
            </div>

            <!-- Multiple Matriculas card -->
            <div
              class="card text-center login-container"
              v-if="show_multiple_matriculas"
              key="3"
            >
              <div class="card-body">
                <h1 class="h3 mb-5 font-weight-light choose-matricula">
                  Escolha sua matrícula
                </h1>
                <table class="table table-hover">
                  <tbody>
                    <tr
                      v-for="matricula in matriculas"
                      :key="matricula.matricula"
                      @click="useMatricula(matricula)"
                    >
                      <td>
                        {{ matricula.curso }}
                        <div class="text-right">
                          <div class="badge badge-light mr-1">
                            {{ matricula.situacao }}
                          </div>
                          <div class="badge badge-primary">
                            {{ matricula.matricula }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </template>
        </slide-y-up-transition>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import router from "vue-router";
import { SlideYUpTransition } from "vue2-transitions";
import { version } from "../../package.json";

export default {
  data() {
    return {
      show_login: false,
      show_multiple_matriculas: false,
      loading: false,
      error_message: "",
      username: "",
      password: "",
      matriculas: [],
      message: "Carregando...",
      messageTicker: null
    };
  },
  components: {
    SlideYUpTransition
  },
  methods: {
    updateMessage() {
      this.messageTicker = setInterval(() => {
        const messages = [
          "Quase lá...",
          "Falta bem pouco...",
          "Em um instante...",
          "Não vai demorar...",
          "É coisa rápida...",
          "Em um piscar..."
        ];

        const index_pick = Math.floor(Math.random() * messages.length);

        this.message = messages[index_pick];
      }, 10000);
    },
    logoff: async function() {
      this.show_multiple_matriculas = false;
      await this.$store.dispatch("LYCEUM_LOGOUT");
      this.show_login = true;
      this.loading = false;
    },
    authenticate: async function() {
      this.show_login = false;
      this.loading = true;
      try {
        const login_result = await this.$store.dispatch("LYCEUM_LOGIN", {
          username: this.username,
          password: this.password
        });
        if (!login_result.success) {
          throw new Error(login_result.reason);
        }
        this.matriculas = await this.$store.dispatch("LYCEUM_GET_MATRICULAS");
        if (this.matriculas.length > 1) {
          this.show_multiple_matriculas = true;
          this.loading = false;
        } else {
          this.useMatricula(this.matriculas[0]);
        }
      } catch (error) {
        this.error_message = error.toString().toUpperCase(); // "O login falhou. Tente novamente.";
        this.show_login = true;
        this.loading = false;
      }
    },
    useMatricula: async function(matricula) {
      this.show_multiple_matriculas = false;
      this.loading = true;
      this.$store.dispatch("LYCEUM_SET_USED_MATRICULA", matricula);
      await this.$store.dispatch("LYCEUM_GET_AVISOS", matricula.matricula);
      this.$router.push("/dashboard/avisos");
      await this.$store.dispatch("LYCEUM_GET_PUBLICACOES", matricula.matricula);
      this.show_login = true;
      this.$store.dispatch("LYCEUM_GET_HORARIOS", matricula.matricula);
      this.$store.dispatch("LYCEUM_GET_FALTAS", matricula.matricula);
      this.$store.dispatch("LYCEUM_GET_NOTAS", matricula.matricula);
      this.$store.dispatch("LYCEUM_GET_BOLETOS", matricula.matricula);
      this.$store.dispatch("LYCEUM_GET_DADOSPESSOAIS", matricula.matricula);
    }
  },
  computed: {
    lyceum_maintenance_hours() {
      const date = new Date();
      const minutes = date.getMinutes();
      const hours = date.getHours();

      if (hours >= 4 && hours <= 5) {
        return true;
      }
      return false;
    }
  },
  mounted() {
    this.show_login = true;
    this.updateMessage();

    const styles = [
      "font-family: Roboto, sans-serif",
      "padding: 2px",
      "font-size: 20px"
    ].join(";");
    const styles2 = [
      "background: #16a085",
      "border-radius: 5px",
      "color: white",
      "box-shadow: 2px 2px 5px rgba(0,0,0,.2)",
      "font-family: Roboto, sans-serif",
      "padding: 3px 5px 2px 7px",
      "margin: 0 5px 0 0",
      "font-size: 20px"
    ].join(";");
    const styles3 = ["font-size: 12px"].join(";");
    const styles4 = ["font-size: 15px", "margin: 5px 0 0 0"].join(";");

    console.log(
      `%cUni%cOnline %c${version}\n%cFacilitando sua vida EAD 😼🤘`,
      styles,
      styles2,
      styles3,
      styles4
    );
  },
  beforeDestroy() {
    clearInterval(this.messageTicker);
  }
};
</script>

<style lang="scss" scoped>
@import "../../src/assets/scss/variables.scss";

.dashed-helptext {
  border-bottom: 1px dashed #000;

  &:hover {
    border-bottom: 1px solid #000;
  }
}

.fullscreen-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.login-big-image {
  // background: url("../../public/img/login-default-bg.jpg");
  // clip-Fpath: polygon(0 0, 100% 0, 100% 60%, 0 40%);

  // background-color: $accent-color; // Fallback in case of slow internet

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));

  &:after {
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2c3e50 !important;
    background-size: cover;
    background: url("/img/login-default-bg.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0, 200% 120%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 200% 120%, 0 80%);
    background-position-y: 60%;
    background-blend-mode: soft-light;
    width: 100%;
    height: 50%;
    background-size: cover; // 100%
  }
}

.login-wrapper {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}

table tr {
  cursor: pointer;
}

th {
  border: 0px !important;
}

.login-mask {
  // background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // flex-direction: row;
  align-items: center;
  // justify-content: center;
  padding: 20px 0 20px 0;
  // z-index: 20;
  overflow-x: hidden;
}

.login-container {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  padding-top: 20px;
}

@keyframes zoomin {
  0% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
</style>

<style lang="scss">
// Material Spinner Colors
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

.showbox {
  position: relative;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // padding: 5%;
  padding: 20px;
  padding-bottom: 30px;
}
</style>