<template>
  <div class="container-fluid no-user-select">
    <div class="card mt-3 shadow-2dp mb-3">
      <div class="card-body">
        <h5 class="card-title mb-3">Notas</h5>

        <div class="card-text">
          <span v-if="!notas.length" class="text-muted"
            >Você não possui notas</span
          >
          <table class="table" v-if="notas.length">
            <tbody>
              <tr v-for="(nota, key) in notas" :key="key">
                <td>
                  <div class="font-weight-bold mb-3">
                    {{ nota.disciplina_nome }}
                  </div>

                  <table class="table table-borderless">
                    <tbody>
                      <tr
                        v-for="avaliacao in nota.avaliacoes"
                        v-if="avaliacao.nota"
                      >
                        <td>{{ avaliacao.avaliacao_nome }}</td>
                        <td>
                          <span
                            class="badge-wrapper badge"
                            :class="{
                              'badge-secondary': avaliacao.nota_calculada
                            }"
                            ><h5>{{ avaliacao.nota }}</h5></span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- <span class="badge badge-secondary">-</span> -->
                </td>
                <td class="notas-td">
                  <span
                    class="badge ml-auto badge-wrapper2"
                    :class="{ 'badge-primary': nota.media }"
                  >
                    <span class="d-flex notas-wrapper">
                      <h3 class="font-weight-light">
                        {{
                          nota.media
                            ? nota.media
                            : calculateGradeAverage(nota.avaliacoes)
                        }}<br />
                      </h3>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <div v-if="notas.length">
            <span class="badge badge-primary mr-2 align-text-top"
              >&nbsp;&nbsp;&nbsp;</span
            >Nota definitiva
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {};
  },
  methods: {
    // isDanger(falta_obj) {
    //   const notas_acumuladas = falta_obj.notas_acumuladas;
    //   const notas_permitidas = falta_obj.notas_permitidas;
    //   return (notas_acumuladas / notas_permitidas) * 100 >= 80;
    // }
    calculateGradeAverage(avaliacoes) {
      let count = 0; // Count grades that aren't null
      const average =
        avaliacoes.reduce(function(prev, cur) {
          let nota = parseInt(cur.nota);
          if (isNaN(nota)) {
            // If grade is NaN, don't sum together
            // Also, don't count++
            nota = 0;
          } else {
            count++;
          }
          return prev + nota;
        }, 0) / count;

      return isNaN(average) ? "-" : Math.floor(average);
    }
  },
  computed: {
    notas() {
      return this.$store.state.notas;
    }
  },
  filters: {
    firstName(val) {
      if (!val) return;
      return val.split(" ")[0];
    }
  }
};
</script>

<style lang="scss" scoped>
.badge-wrapper {
  min-width: 60px;
  max-height: 30px;
}

.badge-wrapper2 {
  min-width: 70px;
  max-height: 40px;
}

.notas-wrapper {
  display: inline-flex !important;
  align-items: baseline;
}

.notas-td {
  text-align: right;
}
</style>
