<template>
  <div>
    <div class="h6 text-muted mb-3">
      Versão
      <b>{{data.version}}</b>
    </div>
    <div v-if="!data.changes" class="text-muted">
      <div class="text-center">
        <div class="mdi mdi-vanish mdi-48px mb-3"></div>Não foram encontrados registros de mudanças desta versão.
        <br>Isso não significa que não houve mudanças, porém que as mesmas provavelmente não foram documentadas.
      </div>
    </div>
    <div class="wrap-pre">
      <ul v-for="(change,key) in data.changes" :key="key" class="mb-0">
        <li>{{change}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: ["data"]
};
</script>
