<template>
  <slide-y-up-transition>
    <div class="modal-mask" v-show="open" @click.self="PerformAction('cancel')" ref="modalmask">
      <div class="container">
        <div
          class="card modal-container"
          @keydown.esc="PerformAction('cancel')"
          :tabindex="open ? 0 : -1"
          ref="modalcontent"
        >
          <div class="card-body">
            <h5 class="card-title" :class="{ 'mb-0':!user_params.text} ">{{ user_params.title }}</h5>

            <div class="card-text" v-if="user_params.text || dynamicComponent">
              <div class="wrap-pre">{{ user_params.text }}</div>

              <component :is="dynamicComponent" class="mt-3" :data="dynamicData"></component>

              <div class="attachments">
                <span
                  class="file"
                  v-for="attachment in user_params.attachments"
                  @click="attachmentAction(attachment)"
                  :key="attachment.arquivo_id"
                  :title="attachment.nome_arquivo_raw"
                  :class="{'file-danger':isFileTypeDangerous(attachment.nome_arquivo_raw)}"
                >
                  <fade-transition class="mdi text-center mdi-36px" :duration="200" mode="out-in">
                    <div
                      :class="mdiFileType(attachment.nome_arquivo_raw)"
                      v-if="!isDownloading"
                      key="1"
                    ></div>
                    <div class="mdi-loading mdi-spin" v-if="isDownloading" key="2"></div>
                  </fade-transition>
                  <div class="text-center file-text">{{ attachment.nome_arquivo_raw }}</div>
                </span>
              </div>

              <div
                class="alert alert-warning mt-3"
                v-if="countDangerousFileTypes(user_params.attachments) > 0"
              >Atenção: Os arquivos em vermelho são executáveis e podem causar dano em seu dispositivo. Tenta cautela ao abri-los.</div>
            </div>

            <div class="text-right">
              <button
                class="btn btn-secondary ml-2"
                v-if="user_params.cancelBtnText"
                @click="PerformAction('cancel')"
              >{{ user_params.cancelBtnText }}</button>
              <!-- <span class="mr-3" v-if="user_params.cancelBtnText && user_params.confirmBtnText"></span> -->
              <button
                class="btn btn-secondary ml-2"
                v-if="user_params.thirdBtnText"
                @click="PerformAction('third')"
              >{{ user_params.thirdBtnText }}</button>
              <button
                class="btn btn-primary ml-2"
                v-if="user_params.confirmBtnText"
                @click="PerformAction('confirm')"
              >{{ user_params.confirmBtnText }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </slide-y-up-transition>
</template>

<script>
import { SlideYUpTransition, FadeTransition } from "vue2-transitions";

export default {
  components: {
    SlideYUpTransition,
    FadeTransition
  },
  data() {
    return {
      open: false,
      user_params: {},
      isDownloading: false,
      auto_close_timer: null
    };
  },
  computed: {
    modal_open() {
      return this.$store.state.modal_open;
    },
    dynamicComponent() {
      return this.user_params.component;
    },
    dynamicData() {
      return this.user_params.data;
    }
  },
  watch: {
    open(val) {
      document.getElementsByTagName("body")[0].style.overflowY = val
        ? "hidden"
        : "auto";

      this.$nextTick(() => {
        val ? (this.$refs.modalmask.scrollTop = 0) : null;
      });

      // if (this.auto_close_timer != null) {
      //   clearTimeout(this.auto_close_timer);
      // } // Bug - Clears the currently active timer

      this.$store.dispatch("MODAL_OPEN_CHANGE", val);
    },
    modal_open(val) {
      // Watching a computed store for changes
      // console.log("Store reflected in Modal watcher", val);
      this.open = val;
    }
  },
  methods: {
    show(obj) {
      this.user_params = obj;
      this.open = true;

      this.$nextTick(function() {
        this.$refs.modalcontent.focus();
      });

      if (this.user_params.autoClose > 0) {
        this.auto_close_timer = setTimeout(() => {
          this.open = false;
        }, this.user_params.autoClose);
      }
    },
    PerformAction(action) {
      switch (action) {
        case "confirm":
          if (typeof this.user_params.confirmFn == "function") {
            this.user_params.confirmFn();
          }
          break;

        case "third":
          if (typeof this.user_params.thirdFn == "function") {
            this.user_params.thirdFn();
          }

          break;

        case "cancel":
          if (typeof this.user_params.cancelFn == "function") {
            this.user_params.cancelFn();
          }

          break;
      }

      if (!this.user_params.autoClose) {
        this.open = false;
      }
    },
    attachmentAction(attachment) {
      if (!this.isDownloading) {
        this.isDownloading = true;
        this.user_params.attachmentFn(attachment);
      }
      setTimeout(() => {
        this.isDownloading = false;
      }, 1500);
    },
    mdiFileType(filename) {
      const extension = filename
        .split(".")
        .pop()
        .toLowerCase();

      const fileTypes = {
        png: "mdi-file-image",
        jpg: "mdi-file-image",
        bmp: "mdi-file-image",
        jpeg: "mdi-file-image",
        tif: "mdi-file-image",
        tiff: "mdi-file-image",
        svg: "mdi-file-image",
        pdf: "mdi-file-pdf",
        mp3: "mdi-file-music",
        wav: "mdi-file-music",
        wma: "mdi-file-music",
        wmv: "mdi-file-video",
        mov: "mdi-file-video",
        mp4: "mdi-file-video",
        xslx: "mdi-file-excel",
        doc: "mdi-file-word",
        docx: "mdi-file-word",
        txt: "mdi-file-word",
        rtf: "mdi-file-document",
        zip: "mdi-zip-box",
        rar: "mdi-zip-box",
        "7z": "mdi-zip-box",
        pptx: "mdi-file-powerpoint",
        pptm: "mdi-file-powerpoint",
        ppt: "mdi-file-powerpoint",
        potx: "mdi-file-powerpoint",
        pps: "mdi-file-powerpoint",
        htm: "mdi-code-not-equal-variant",
        xml: "mdi-code-not-equal-variant",
        html: "mdi-code-not-equal-variant"
      };

      return fileTypes[extension] ? fileTypes[extension] : "mdi-file";
    },
    isFileTypeDangerous(filename) {
      // filename = "file.exe";
      const extension = filename
        .split(".")
        .pop()
        .toLowerCase();

      const dangerousFileTypes = [
        "exe",
        "js",
        "msi",
        "bat",
        "cmd",
        "sh",
        "py",
        "bin",
        "com",
        "command",
        "cpl",
        "csh",
        "gadget",
        "inf",
        "ins",
        "inx",
        "ipa",
        "isu",
        "job",
        "jse",
        "ksh",
        "lnk",
        "msc",
        "msp",
        "mst",
        "osx",
        "out",
        "paf",
        "pif",
        "prg",
        "ps1",
        "reg",
        "rgs",
        "run",
        "scr",
        "shb",
        "shs",
        "u3p",
        "vb",
        "vbe",
        "vbs",
        "vbscript",
        "workflow",
        "ws",
        "wsf",
        "wsh"
      ];

      return dangerousFileTypes.indexOf(extension) > -1;
    },
    countDangerousFileTypes(attachments) {
      let count = 0;
      if (!attachments) return 0;
      attachments.map(attachment => {
        const isDangerFileType = this.isFileTypeDangerous(
          attachment.nome_arquivo_raw
        );
        count += isDangerFileType; // count true += 1, false += 0
      });

      return count;
    }
  }
};
</script>

<style lang="scss">
@import "../assets/scss/variables.scss";

.attachments {
  display: flex;
  margin-top: 10px;

  .file {
    background-color: $accent-color;
    border-radius: 0.35rem;
    color: #fff;
    margin: 5px 5px 5px 0;
    padding: 10px;
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.33);
    transition: 0.2s;
    cursor: pointer;
    user-select: none;

    &:hover {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33);
      filter: brightness(1.1);
    }

    &:active {
      box-shadow: none;
      filter: brightness(0.9);
    }
  }

  .file-danger {
    background-color: #c0392b !important;
  }

  .file-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.card-body .wrap-pre {
  white-space: pre-wrap;
}

.modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
  // display: grid; // Works on Chrome, but not on Safari (iOS)
  display: -webkit-box; // Works on both? At least it seems.
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // flex-direction: row;
  align-items: center;
  // justify-content: center;
  padding: 20px 0 20px 0;
  z-index: 20;
  overflow-x: hidden;
}

.modal-container {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 30;
}
</style>
