<template>
  <div id="app">
    <fade-transition :duration="200">
      <router-view/>
    </fade-transition>
  </div>
</template>

<style lang="scss">
@import "./assets/scss/bs-material-design.scss";
</style>

<script>
import { FadeTransition } from "vue2-transitions";

export default {
  components: {
    FadeTransition
  }
};
</script>
