@import "./variables.scss";

$shadow-opacity: 0.15;

.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $shadow-opacity);
}

.shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, $shadow-opacity);
}

.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, $shadow-opacity);
}

.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, $shadow-opacity);
}

.shadow-8dp {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, $shadow-opacity);
}

.shadow-16dp {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, $shadow-opacity);
}

.shadow-24dp {
  box-shadow: 0 9px 46px 0 rgba(0, 0, 0, $shadow-opacity);
}

.card {
  border: 0;
  overflow: hidden;
}

// Mobile view
@media (max-width: 575px) {
  .container-fluid {
    padding: 0;
  }

  .card {
    border-radius: 0px;
  }
}

.btn {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  &:hover,
  &:focus {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: none !important;
  }
}

.bg-primary,
.btn-primary {
  background-color: $accent-color;
  color: #fff;
  border: none;

  &:hover {
    color: #fff;
  }
  &:active {
  }
}
.text-primary {
  color: $accent-color;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom-width: 1px;

  &:focus {
    border-color: $accent-color;
    border-bottom-width: 2px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

td,
th {
  text-align: left;
  // border: 0px !important;
}

tr {
  transition: background-color 0.2s !important;
}

.badge-primary {
  background-color: $accent-color;
  color: #fff;
}

// th {
//   border: 0px !important;
// }

.page-link {
  // color: white!important;
  // background-color: $accent-color;
  // border-color: #dee2e6;
  border: 0;
  border-radius: 50%!important;
  width: 40px;
  height: 40px;
  text-align: center;
  
  &:hover {
    
  }
}

.page-item.disabled {
  .page-link {
    background-color: #ccc!important;
  }
}